@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --encore-title-font-stack: CircularSpTitle,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
    --encore-body-font-stack: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif)
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--encore-body-font-stack);
}

.encore-text-body-medium-bold {
  font-weight: 700;
  font-size: var(--encore-text-size-base);
}

.gYdBJW {
  margin-block: 0px;
  color: inherit;
}

.spotify {
  background-color: #121212;
  position: relative;
}

.line {
  position: absolute;
  right: 10;
  top: 0;
  bottom: 0;
  width: 2px; /* Adjust thickness as needed */
  background-color: #1DB954; /* Spotify's green color */
}

.play {
  background-color: #ffffff12
}

.arrow {
  background-color: #000000B3
}

.spot {
  background-color: rgb(80, 96, 120);
}

footer {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hot {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}